*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

.clear{
clear: both;
display: table;
}

.wrapper{
  width: 100%;
  height:100px;
  background: blue;
}

.menu-left{
  float:left;
  width:150px;
  height:100%;
  background: black;
  overflow: hidden;
}

.menu-left img{
height:  100%;
}


.menu-right{
  float:right;
  width:calc(100% - 150px);
  height: 100%;
  background: lightgrey;
}

.menu-right ul{
  text-align: right;
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
}

.menu-right ul li{
  display: inline-block;
  margin-right: 40px;
  line-height: 100px;
}

.menu-right ul li a{
  text-decoration: none;
  color: black;
}

.menu-right i{
  display: none;
  margin: 35px;
  font-size: 30px;
  color: black;
  float:right;
}

.hamburger_menu{
  height: auto;
  width: 100%;
  background: orange;
  color: white;
  display: none;
}

.hamburger_menu ul{
  list-style: none;
  text-align: center;
}

.hamburger_menu ul li{
padding: 40px 0;
}

.hamburger_menu ul li a{
  text-decoration: none;
  color: white;
}

.hamburger_menu ul li:hover{
  background: black;
}

.contenitore_x{
  height: auto;
  width: 100%;
  text-align: right;
}

.contenitore_x i{
  color: white;
  padding: 20px;
  font-size: 30px;
}

.contenitore_x i:hover{
  color: black;
}




@media screen and (max-width:1000px){

  .menu-right ul{
    display:none;
  }

  .menu-right i{
    display:block;
  }

}
